@import "https://fonts.googleapis.com/css?family=Baloo+Tamma";
@import "https://fonts.googleapis.com/css?family=Bungee+Shade|Monoton";
img {
  display: block;
  width: 100%;
  height: auto; }

.instructions-container .instructions {
  display: block;
  background: #215eb2;
  width: 700px;
  height: 700px;
  margin: 116px auto; }
  .instructions-container .instructions .x-modal {
    width: 50px; }
    .instructions-container .instructions .x-modal:hover {
      cursor: pointer; }

.mother-container .navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  background: whitesmoke;
  width: 100%;
  text-align: center;
  display: table;
  height: 50px;
  z-index: 1000; }
  .mother-container .navbar-container .logo {
    display: table-cell;
    vertical-align: middle;
    font-family: "Monoton";
    font-size: 24px;
    text-align: center; }
.mother-container .container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 100px; }
  .mother-container .container .mix-board {
    display: flex; }
    .mother-container .container .mix-board .channels {
      display: flex;
      padding-left: 80px; }
      .mother-container .container .mix-board .channels .channel-name {
        text-align: center;
        font-family: "Baloo Tamma", Arial;
        text-transform: uppercase;
        font-size: 20px; }
      .mother-container .container .mix-board .channels .track .fft {
        margin: 10px;
        border-radius: 1000px;
        /* height: 400px; */
        width: 100px;
        /* height: auto; */
        height: 100px; }
        .mother-container .container .mix-board .channels .track .fft:hover {
          cursor: pointer;
          opacity: 0.7;
          border: 3px solid black;
          margin: 7px; }
    .mother-container .container .mix-board .mix-control-container {
      height: inherit;
      display: flex;
      flex-direction: column; }
      .mother-container .container .mix-board .mix-control-container .play-button {
        width: 100px;
        height: auto;
        display: block;
        /* background: green; */
        /* text-align: center; */
        /* display: flex; */
        margin: 90px auto; }
        .mother-container .container .mix-board .mix-control-container .play-button:hover {
          cursor: pointer; }
      .mother-container .container .mix-board .mix-control-container .metronome-container {
        display: flex;
        /* position: fixed; */
        /* left: 0; */
        /* top: 70px; */
        background: black;
        width: 200px;
        height: 300px; }
        .mother-container .container .mix-board .mix-control-container .metronome-container .metronome {
          margin: 0 auto;
          font-size: 48px;
          color: #77d0c0;
          max-width: 50%; }
          .mother-container .container .mix-board .mix-control-container .metronome-container .metronome .metronome-beat {
            font-family: Monoton, Arial; }

.circleBase {
  border-radius: 100%; }

.type1 {
  width: 100px;
  height: 100px;
  background: yellow;
  border: 3px solid red; }

img {
  width: 100%;
  height: auto;
  display: block; }

.track-pic {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 10000px; }
  .track-pic .sound-circle {
    width: inherit;
    height: inherit; }

html {
  font-size: 16px; }

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

p {
  margin-top: 1rem;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.4rem;
  color: #90A4AE; }

.Slider {
  margin: 0 auto;
  display: block;
  width: 5rem;
  height: 5rem;
  transform: rotate(-90deg);
  cursor: ns-resize; }
  .Slider:hover {
    cursor: pointer; }
  .Slider .Slider-circle,
  .Slider .Slider-bar {
    fill: transparent; }
  .Slider .Slider-circle {
    stroke: #607D8B; }
  .Slider .Slider-bar {
    stroke: #00B0FF;
    stroke-dashoffset: 0;
    stroke-dasharray: 0; }

/*# sourceMappingURL=main.css.map */
