@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';
@import 'https://fonts.googleapis.com/css?family=Bungee+Shade|Monoton';


$navbar-height: 70px;


img {
  display: block;
  width: 100%;
  height: auto;
}



.instructions-container {
  .instructions {
    display: block;
    background: whitesmoke;
    width: 700px;
    height: 700px;
    margin: 0 auto;

    .x-modal {
      width: 50px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}




.mother-container {

  .navbar-container {
    position: fixed;
  top: 0;
  left: 0;
  background: whitesmoke;
  width: 100%;
  text-align: center;
  display: table;
  height: 50px;
  z-index: 1000;

     .logo {
       display: table-cell;
       vertical-align: middle;
       font-family: "Monoton";
       font-size: 24px;
       text-align: center;

     }

  }

  .container {
    display: flex;
/* align-items: center; */
justify-content: center;
top: 110px;
left: 0px;
position: absolute;



    //  dsfdf
     .mix-board {
       display: flex;

       .channel-name {
         text-align: center;
         font-family: "Baloo Tamma", Arial;
         text-transform: uppercase;

       }
       .track {
          margin: 10px;
         .fft {
           border-radius: 1000px;
             /* height: 400px; */
             width: 100px;
             /* height: auto; */
             height: 100px;
         }
       }

       .mix-control-container {
         .play-button {
           width: 100px;
           height: auto;
           display: block;
           &:hover {
             cursor: pointer;
           }
         }

         .metronome-container {
           display: flex;
    /* position: fixed; */
    /* left: 0; */
    /* top: 70px; */
            background: black;
            width: 200px;
            height: 300px;


           .metronome{
             margin: 0 auto;
             font-size: 48px;
             color: #77d0c0;
              max-width: 50%;

             .metronome-beat {
               font-family: Monoton, Arial;
             }
           }
         }
       }

     }


   }
}


.circleBase {
    border-radius: 100%;
}

.type1 {
    width: 100px;
    height: 100px;
    background: yellow;
    border: 3px solid red;
}
img {
  width: 100%;
  height: auto;
  display: block;

}


.track-pic {
  width: 200px;
  height: 200px;
  // background: gray;
  // background-image: url('../images/kendrick2.png');
  // padding: 10px 10px;
  margin: 10px;
  border-radius: 10000px;

  .sound-circle {
    width: inherit;
    height: inherit;

  }

}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin-top: 1rem;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.4rem;
  color: #90A4AE;
}


.Slider {
  &:hover {
    cursor: pointer;
  }
  margin: 0 auto;
  display: block;
  width: 5rem;
  height: 5rem;
  transform: rotate(-90deg);
  cursor: ns-resize;
  .Slider-circle,
  .Slider-bar {
    fill: transparent;
  }
  .Slider-circle {
    stroke: #607D8B;
  }

  .Slider-bar {
    stroke: #00B0FF;
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }
}
